package teams

import "github.com/Ewan-Greer09/remote-colab/views/components"
import "fmt"

type TeamsData struct {
	Text string
}

templ Page(title string, authed bool) {
	@components.Base(title, authed) {
		@Content(TeamsData{Text: "This is some placeholder text"})
	}
}

templ Content(data TeamsData) {
	<main class="flex flex-col items-center bg-gray-100">
		<p class="text-3xl font-bold underline text-gray-800">{ fmt.Sprint(data.Text) }</p>
	</main>
}
