package index

import "github.com/Ewan-Greer09/remote-colab/views/components"

templ titleSection() {
	<main class="h-screen">
		<div class="flex flex-col items-center p-20">
			<h1><b>TeamWork</b> is a tool to help teams collaborate, internally and together.</h1>
			<h3>Sign in or register to get started</h3>
		</div>
	</main>
}

templ Page(title string, authed bool) {
	@components.Base(title, authed) {
		@titleSection()
	}
}
